<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Página principal</title>
  <!-- <%- include("partials/header.ejs") %> -->
</head>
<body>

  <h1>Hello word</h1>
  
  <!-- <%- include("partials/footer.ejs") %> -->
</body>
</html>